/*Divider below the parallax*/
.gallery{
    display: grid;
    grid-template-rows: 100px 100px 100px 100px 100px 100px;
    grid-template-columns: 100px 100px 100px 100px 100px 100px;
    border: 10px solid #fff; 

    /*--same function as main--*/
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
/*box testing inside gallery*/

.box-1{
    grid-row: 1 / 3;
    grid-column: 1 / 5;
}
.box-2{
    grid-row: span 2;
    grid-column: span 2; 
    /*extends the box to the remaining grid cells, yt-2:49*, review notes*/
}

.box{
    background-color: aqua;
    border: 5px solid red; 
    font-size: 38px;
}