/*Divider below the parallax*/
.gallery{
    display: grid;
    grid-template-rows: 100px 100px 100px;
    grid-template-columns: 100px 100px 100px;

    /*--same function as main--*/
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
/*box testing inside gallery*/

.box-1{
    grid-row-start: ;
    grid-row-end: ;
    grid-column-start: ;
    grid-column-end: ;
}

.box{
    height: 200px;
    width: 200px;
    background-color: aqua;
    font-size: 38px;
}